/* SubscriptionPage.css */
.product-block {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
}

.plan-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.zpricegroup1 {
  font-size: 2rem;
  font-weight: bold;
  color: #e91e63; /* Customize the price color */
}

.detail {
  font-size: 1.2rem;
  color: #888;
}

.ztogglegroup1 {
  font-weight: bold;
}

.access-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #007bff; /* Customize button background color */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.access-btn:hover {
  background-color: #0056b3; /* Customize button hover color */
}

.plan-desc {
  font-size: 1.2rem;
  color: #444;
  margin-top: 10px;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .product-block {
    width: 100%; /* Make the product blocks take full width */
  }
  .App{
    margin-left: 20px;
    width: 90%;
  }
}
@media (max-width: 568px) {
  .product-block {
    width: 80%; /* Make the product blocks take full width */
    margin-left: auto;
    margin-right: auto;
  }
  .App{
    flex-direction: column;
  }

}
