
.App {
    display: flex;
    flex-direction: row;
    /* margin-right: auto; */
    margin-left: 20%;

}

.container {
    max-width: 400px !important;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-primary {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
}

/* .btn-primary:hover {
    background-color: #0056b3;
} */

.link-container {
    text-align: center;
    margin-top: 10px;
}

.link-container a {
    text-decoration: none;
    color: #007bff;
}

.link-container a:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .container {
        max-width: 600px;
    }
}

/* Add this CSS to style the user icon */
.user-icon-container {
    text-align: center;
    margin-bottom: 20px;
    /* Adjust the margin as needed */
}

.user-icon {
    margin-top: -18%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    /* Makes the image a circle */
    border: 2px solid #007bff;
    /* Add a border around the image */
    padding: 10px;
    /* Add padding to the image */
    background-color: #fff;
    /* Background color behind the image */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Add a shadow to the image */
}

