<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5;url=http://localhost:3000/">
    <title>Email Verification Success</title>
</head>
<body>
    <h1>Email Verification Successful</h1>
    <img src="https://w1.pngwing.com/pngs/99/902/png-transparent-indian-people-logo-technology-company-verified-badge-blue-text-line.png" width="300px">
    <p>Redirecting to the login page in 5 seconds...</p>
    <script>
        // You can add additional JavaScript code here if needed
    </script>
</body>
</html>
